@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: 'Noto Serif JP', sans-serif;
    line-height: 1.7;
    color: #432;
}

.font-english {
    font-family: 'Philosopher', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}

.align-center {
    text-align: center;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.logo {
    width: 100px;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
    padding: 1.5rem 0 0;
}

.main-nav a {
    color: #432;
}

.main-nav a:hover {
    color: #13325d;
    text-decoration: underline;
}

.page-title, .heading-large {
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}

.page-title {
    margin-top: 2rem;
    line-height: 1.4;
    font-weight: normal;
}

.pictures {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin: 4rem 3rem;
}

.pictures .onetoone {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.upper {
    object-position: 50% 35%;
}

.biggest {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
}

.second {
    grid-column: 3/5;
    grid-row: 1/2;
}

.about, .contact {
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
}

.about {
    background-color: antiquewhite;
    padding: 1rem 0 4rem;
}

.about h3, .contact h3 {
    margin-bottom: 3rem;
}

.profile {
    border-spacing: 0;
    margin: 0 auto 4rem;
}

.profile th, .profile td{
    font-weight: normal;
    text-align: left;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #c9c2bc;
}

.intro {
    margin: auto;
    padding: 0 2rem;
}

.intro p {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.intro h4 {
    margin: 2rem 0 0.5rem;
    padding-top: 0.5rem;
    font-size: 2.2rem;
    font-weight: normal;
    text-align: center;
}

.certificates {
    background-color: #c9c2bc;
    padding-bottom: 1.5rem ;
    border-radius: 16px;
}

.sub-certificates {
    text-align: center;
}

.sub-certificates li {
    list-style: none;
}

.contact table {
    margin: auto;
    border-spacing: 0;
}

.git-icon {
    height: 35px;
    width: 35px;
    margin-left: 8px;
}

.icon {
    height: 50px;
    width: 50px;
}

.github, .gmail, .insta {
    text-decoration: none;
    color: #432;
}

.github:hover, .gmail:hover, .insta:hover {
    color: #13325d;
    text-decoration: underline;
}

.address {
    padding: 0 0.8rem 0.8rem;
    font-size: 1.4rem;
}

.copyright {
    background-color: #432;
    text-align: center;
    padding: 1rem 0;
    margin-top: 4rem;
    color: #fff;
}

.fadein {
    opacity: 0;
}

@media (min-width: 860px){
    .info {
        display: flex;
        justify-content: space-between;
    }

    .profile {
        width: 48%;
    }

    .intro {
        width: 48%;
    }
}