@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: 'Noto Serif JP', sans-serif;
    line-height: 1.7;
    color: #432;
}

.font-english {
    font-family: 'Philosopher', sans-serif;
}

a {
    text-decoration: none;
    color: #432;
}

a:hover {
    color: #13325d;
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}

.devide {
    display: flex;
    justify-content: center;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.logo {
    width: 70px;
    height: auto;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.2rem;
    list-style: none;
    padding-top: 1.2rem;
}

.page-title, .heading-large {
    font-size: 2.5rem;
    text-align: center;
    font-weight: normal;
}

.page-title {
    margin-top: 2rem;
}

.pictures {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 0.5rem 0.5rem 2rem;
}

.pictures img {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.pictures img:nth-child(1) {
    animation-delay: 0s;
}
.pictures img:nth-child(2) {
    animation-delay: 0.5s;
}
.pictures img:nth-child(3) {
    animation-delay: 1s;
}
.pictures img:nth-child(4) {
    animation-delay: 1.5s;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to   { opacity: 1; transform: scale(1); }
}

.pictures .onetoone {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.upper {
    object-position: 50% 35%;
}

.biggest {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
}

.second {
    grid-column: 3/5;
    grid-row: 1/2;
}

.about {
    background-color: antiquewhite;
    font-size: 1rem;
    padding: 1rem 0 2rem;
}

.about h3 {
    margin-bottom: 1rem;
}

.profile {  
    border-spacing: 0;
    margin: 0 auto 2rem;
}

.profile th, .profile td{
    font-weight: normal;
    text-align: left;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #c9c2bc;
}

.intro {
    margin: auto;
    padding: 0 2rem;
}

.intro p {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.certificates h4 {
    margin: 2rem 0 0.5rem;
    padding-top: 0.5rem;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

.certificates {
    background-color: #c9c2bc;
    padding-bottom: 1.5rem;
    border-radius: 16px;
}

.sub-certificates {
    text-align: center;
}

.sub-certificates li {
    list-style: none;
}

.my-works {
    padding-top: 1rem;
}

.callot, .colortiles {
    border-radius: 16px;
    padding: 0 1.5rem 2rem;
    width: 96%;
    font-size: 1rem;
    margin: 0 2%;
}

.callot {
    background-color: #f8c68d;
    margin: 0.5rem 2% 1rem;
}

.colortiles {
    background-color: #d0e2fa;
}

.callot h4 img {
    width: 200px;
    margin: 2.5rem 0 2rem;
}

.colortiles h4 img {
    width: 300px;
    margin: 2.5rem 0 1rem;
}

.callot-calendar {
    width: 50%;
    margin: 0 1.5rem 0 0;
}

.callot-hours {
    width: 50%;
    border-radius: 16px;
}

.colortiles-ranking {
    margin-top: 0.8rem;
    width: 50%;
    border-radius: 16px;
}

.colortiles-play {
    width: 50%;
    margin: 2rem 2rem 0 0;
}

.explanation-callot {
    margin-top: 3.4rem;
}

.explanation-colortiles {
    margin-top: 2.7rem;
}

.explanation-callot li, .explanation-colortiles li {
    margin: 1rem 0 0 1rem;
}

.df {
    display: flex;
    justify-content: right;
}

.df p {
    margin-left: 2rem;
    font-weight: bold;
}

.right {
    text-align: right;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.contact {
    background-color: antiquewhite;
    margin-top: 2rem;
    padding: 0.2rem 0 1rem;
}

.contact h3 {
    margin: 1rem 0;
}

.contact table {
    margin: auto;
    border-spacing: 0;
}

.git-icon {
    height: 40px;
    width: 40px;
    margin-left: 4.5px;
    margin-bottom: 0.5rem;
}

.icon {
    height: 50px;
    width: 50px;
}

.address {
    padding: 0 0.8rem 0.7rem;
    font-size: 1.2rem;
}

.address-git {
    padding: 0 0.8rem 1rem;
    font-size: 1.2rem;
}

.copyright {
    background-color: #432;
    text-align: center;
    padding: 1rem 0;
    color: #fff;
}

.fadein {
    opacity: 0;
}

@media (min-width: 860px){
    .logo {
        width: 100px;
    }

    .main-nav {
        gap: 2.5rem;
        font-size: 1.8rem;
        padding-top: 1.5rem;
    }

    .page-title, .heading-large {
        font-size: 3rem;
    }

    .pictures {
        gap: 1rem;
        margin: 1.5rem 3rem 3rem;
    }

    .about {
        font-size: 1.2rem;
        padding: 1rem 0 3rem;
    }

    .about h3 {
        margin-bottom: 3rem;
    }

    .info {
        display: flex;
        justify-content: space-between;
    }

    .profile {
        width: 48%;
    }

    .profile th, .profile td{
        padding: 0.5rem 2rem;
    }

    .intro {
        width: 48%;
    }

    .intro p {
        margin-bottom: 3rem;
    }

    .certificates h4 {
        font-size: 2.2rem;
    }

    .responsive {
        display: flex;
        justify-content: center;
    }

    .callot, .colortiles {
        width: 49%;
        margin: 1%;
        padding: 0 2rem 2rem;
        font-size: 1.2rem;
    }

    .callot h4 img {
        width: 280px;
    }

    .colortiles h4 img {
        width: 400px;
    }

    .df p {
        margin-left: 3rem;
    }

    .right {
        font-size: 1.5rem;
    }

    .contact {
        padding-bottom: 2rem;
    }

    .contact h3 {
        margin: 1rem 0 2rem;
    }

    .address, .address-git {
        font-size: 1.4rem;
    }
}